body.dark-mode {
    background-color: #121212;
}

body.dark-mode, body.dark-mode * {
    color: #ffffff;
}

body.dark-mode th, body.dark-mode td {
    color: #ffffff;
}

/* Ensure links are also styled correctly */
body.dark-mode a {
    color: #ffffff;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

/* Add more styles as needed */
